bgow529-schema1.xsd

<xs:schema id="PhoneBook" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name = "enclosure">
        <xs:all>
            <xs:element name = "lengthField" type = "xs:integer"/>
            <xs:element name = "typeField">
                <xs:simpleType>
                    <xs:restriction base = "xs:string">
                        <xs:pattern value = "[a-z]+\/[a-z]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "urlField" type = "xs:string"/>
        </xs:all>   
    </xs:complexType>

    <xs:complexType name = "newsItem">
        <xs:all>
            <xs:element name = "descriptionField" type = "xs:string"/>
            <xs:element name = "enclosureField" type = "enclosure" />
            <xs:element name = "guidField" type = "xs:string"/>
            <xs:element name = "linkField" type = "xs:string"/>
            <xs:element name = "pubDateField" type = "xs:string"/>
            <xs:element name = "titleField" type = "xs:string"/>
        </xs:all>
    </xs:complexType>

    <xs:element name = "ArrayOfRSSItem">
        <xs:complexType>
            <xs:sequence>
                <xs:element name = "RSSItem" type = "newsItem" minOccurs = "0" maxOccurs = "unbounded" />
            </xs:sequence>
        </xs:complexType> 
    </xs:element>

    
</xs:schema>